body{
    background-color: rgb(18, 18, 18);
    color: whitesmoke;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 150px 0px;
}

#container #left-side {
    width: 300px;
    height: 400px;
    border: 2px solid rgb(213, 36, 66);
    border-radius: 10px;
    margin: 30px;
}

#container #left-side .list {
    background-color: rgb(213, 36, 66);
    border: 1px solid rgb(213, 36, 66);
    border-radius: 5px;
    height: 50px;
    margin: 10px;
 text-align: center;
 cursor: grab;
}

#container #right-side {
    width: 300px;
    height: 400px;
    border: 2px solid rgb(213, 36, 66);
    border-radius: 10px;
    margin: 30px;
}

#container #right-side .list {
    background-color: rgb(213, 36, 66);
    border: 1px solid rgb(213, 36, 66);
    border-radius: 5px;
    height: 50px;
    margin: 10px;
 text-align: center;
 cursor: grab;
}
#container #right-side {
    width: 300px;
    height: 400px;
    border: 2px solid rgb(213, 36, 66);
    border-radius: 10px
}